/* left_column */
.left_column{
    width: 40%;
    justify-content: center;
}

/* USER */
.info_profile{
    margin-bottom: 20px;
}

/* right_column */
.right_column{
    margin-left: 20px;
    width: 60%;
}
.title_h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #FF9D66;
    padding: 5px;
}
.card{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card .line{
    height: 2px;
    background: #CCCCCC;
    margin: 3px 0;
}
.card h2{
    color: #FF9D66;
    font-size: 18px;
    padding-bottom: 5px;
}
.card b{
    color: #FF9D66;
    margin-right: 10px;
    text-transform: uppercase;
}
.left_card{
    width: 100%;
}
.description,.card_info{
    border-left: 2px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}
.right_card{
    width: 160px;
    margin-left: 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.more{
    padding: 3px;
}
