/* left_column */
.left_column{
    width: 40%;
    justify-content: center;
}

/* USER */
.info_profile{
    margin-bottom: 20px;
}

/* right_column */
.right_column{
    margin-left: 20px;
    width: 60%;
}
.title_h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #FF9D66;
    padding: 5px;
}
