.search_box{
    display: flex;
    padding: 10px;
    background: #F9F9F9;
    margin-bottom: 20px;
}
.search_box button{
    margin-left: 20px;
    width: 100%;
    max-width: 200px;
}
.search_box button, .search_box input{
    height: 40px;
    margin-bottom: 0;
}